header{
    background-color: white;
    display: flex;
     justify-content: space-between;
     position: fixed;
     right: 0;
     left: 0;
     top: 0;
}

body{
    margin: 0px;
    background-image: url(../images/pattern.jpg);
}

ul{
    list-style-type: none;
}
  
a{
   text-decoration:none;
}
  
li{
    display: inline;
    margin-left:30px;
}

h1{
    text-align: center;
}

section{    
    background-color: white;
    padding: 30px;
    margin: 100px 100px 30px;
 }

article{
    border-bottom: 2px solid black;
    margin-top: 10px;
}